/* .example-enter {
    opacity: 1;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
} */

ct-chart {
    stroke: blue;
}

ct-chart {
    stroke: green;
}